<!DOCTYPE html>
<html>
    <head>
      <title> "William Mayback's Tic Tac Toe Challenge" </title>
      <script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
      <style>
      body { width: 1000px; margin: 20px auto;}
      </style>
    </head>
       <ul>
            <li style="list-style-type: none;">
              <canvas id = "canv1" width="100" height="100" style="border:5px solid cyan" onclick = "canvasClicked1()"></canvas>
              <canvas id = "canv2" width="100" height="100" style="border:5px solid cyan" onclick = "canvasClicked2()"></canvas>
              <canvas id = "canv3" width="100" height="100" style="border:5px solid cyan" onclick = "canvasClicked3()"></canvas></li>
            <li style="list-style-type: none;">
              <canvas id = "canv4" width="100" height="100" style="border:5px solid cyan" onclick = "canvasClicked4()"></canvas>
              <canvas id = "canv5" width="100" height="100" style="border:5px solid cyan" onclick = "canvasClicked5()"></canvas>
              <canvas id = "canv6" width="100" height="100" style="border:5px solid cyan" onclick = "canvasClicked6()"></canvas></li>
            <li style="list-style-type: none;">
              <canvas id = "canv7" width="100" height="100" style="border:5px solid cyan" onclick = "canvasClicked7()"></canvas>
              <canvas id = "canv8" width="100" height="100" style="border:5px solid cyan" onclick = "canvasClicked8()"></canvas>
              <canvas id = "canv9" width="100" height="100" style="border:5px solid cyan" onclick = "canvasClicked9()"></canvas></li>
      </ul>

<script>
var strategy;
strategy = 0

function course(boxnum, outcome){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv"+boxnum);
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = outcome;
}

function canvasClicked1(){
var c=document.getElementById("canv1");
var ctx=c.getContext("2d");
if(strategy == 0){
ctx.font="70px Arial";
ctx.fillText("<%=session['weapon']%>",27,75);
var c=document.getElementById("canv5");
var ctx=c.getContext("2d");
ctx.font="70px Arial";
ctx.fillText("<%=session['shield']%>",27,75);
strategy = 1;
}else if(strategy == 26){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 29){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 297){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 36){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 361;
}else if(strategy == 37){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 38){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 381;
}else if(strategy == 39){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 394){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 46){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 48){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 481;
}else if(strategy == 49){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 493){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 67){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 671;
}else if(strategy == 68){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 681;
}else if(strategy == 69){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 697){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 78){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 781;
}else if(strategy == 79){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 792){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 89){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 893){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
};
}

function canvasClicked2(){
var c=document.getElementById("canv2");
var ctx=c.getContext("2d");
if(strategy == 0){
ctx.font="70px Arial";
ctx.fillText("<%=session['weapon']%>",27,75);
var c=document.getElementById("canv5");
var ctx=c.getContext("2d");
ctx.font="70px Arial";
ctx.fillText("<%=session['shield']%>",27,75);
strategy = 2;
}else if(strategy == 1){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 12;
}else if(strategy == 14){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 16){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 167){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 17){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 18){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 19){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 194){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 34){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 349){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 36){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 37){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 374){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 38){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 39){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 394){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 47){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 479){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 48){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 481){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 49){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 493){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 5){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 52;
}else if(strategy == 53){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 534){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 54){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 542;
}else if(strategy == 543){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 547){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 549){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 56){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 567){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 57){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 572;
}else if(strategy == 59){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 592;
}else if(strategy == 67){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 671){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 68){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 681){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 69){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 697){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 78){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 781){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 79){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 792;
}else if(strategy == 89){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 893){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
};
}


function canvasClicked3(){
var c=document.getElementById("canv3");
var ctx=c.getContext("2d");
if(strategy == 0){
ctx.font="70px Arial";
ctx.fillText("<%=session['weapon']%>",27,75);
var c=document.getElementById("canv5");
var ctx=c.getContext("2d");
ctx.font="70px Arial";
ctx.fillText("<%=session['shield']%>",27,75);
strategy = 3;
}else if(strategy == 1){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 13;
}else if(strategy == 14){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 143;
}else if(strategy == 17){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 176){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 18){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 183;
}else if(strategy == 19){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 194){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 2){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 23;
}else if(strategy == 24){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 27){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 279){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 28){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 289){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 46){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 468){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 47){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 479){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 48){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 481){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 49){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 493;
}else if(strategy == 5){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 53;
}else if(strategy == 52){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 523;
}else if(strategy == 524){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 526){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 54){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 543;
}else if(strategy == 542){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 548){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 56){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 58){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 583;
}else if(strategy == 67){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 671){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 68){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 78){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 781){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 79){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 792){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 89){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 893;
};
}

function canvasClicked4(){
var c=document.getElementById("canv4");
var ctx=c.getContext("2d");
if(strategy == 0){
ctx.font="70px Arial";
ctx.fillText("<%=session['weapon']%>",27,75);
var c=document.getElementById("canv5");
var ctx=c.getContext("2d");
ctx.font="70px Arial";
ctx.fillText("<%=session['shield']%>",27,75);
strategy = 4;
}else if(strategy == 1){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 14;
}else if(strategy == 12){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 13){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 16){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 18){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 183){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 19){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 194;
}else if(strategy == 2){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 24;
}else if(strategy == 23){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 239){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 26){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 267){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 27){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 279){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 28){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 289){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 29){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 297){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 3){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 34;
}else if(strategy == 36){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 361){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 37){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 374;
}else if(strategy == 38){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 381){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 39){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 394;
}else if(strategy == 5){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 54;
}else if(strategy == 52){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 524;
}else if(strategy == 523){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 527){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 529){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 53){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 534;
}else if(strategy == 57){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 572){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 58){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 583){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 59){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 592){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 67){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 68){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 681){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 69){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 697){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 78){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 79){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 89){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 893){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
};
}

function canvasClicked5(){
var c=document.getElementById("canv5");
var ctx=c.getContext("2d");
if(strategy == 0){
ctx.font="70px Arial";
ctx.fillText("<%=session['weapon']%>",27,75);
var c=document.getElementById("canv1");
var ctx=c.getContext("2d");
ctx.font="70px Arial";
ctx.fillText("<%=session['shield']%>",27,75);
strategy = 5;
};
}

function canvasClicked6(){
var c=document.getElementById("canv6");
var ctx=c.getContext("2d");
if(strategy == 0){
ctx.font="70px Arial";
ctx.fillText("<%=session['weapon']%>",27,75);
var c=document.getElementById("canv5");
var ctx=c.getContext("2d");
ctx.font="70px Arial";
ctx.fillText("<%=session['shield']%>",27,75);
strategy = 6;
}else if(strategy == 1){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 16;
}else if(strategy == 12){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 127){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 13){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 138){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 14){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 143){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 17){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 176;
}else if(strategy == 18){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 183){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 2){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 26;
}else if(strategy == 23){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 24){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 249){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 27){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 279){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 28){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 289){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 29){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 297){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 3){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 36;
}else if(strategy == 34){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 38){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 381){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 4){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 46;
}else if(strategy == 47){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 479){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 48){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 481){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 49){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 5){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 56;
}else if(strategy == 52){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 526;
}else if(strategy == 523){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 527){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 529){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 53){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 57){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 572){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 58){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 583){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 59){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 592){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 78){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 781){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 79){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 792){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 89){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
};
}

function canvasClicked7(){
var c=document.getElementById("canv7");
var ctx=c.getContext("2d");
if(strategy == 0){
ctx.font="70px Arial";
ctx.fillText("<%=session['weapon']%>",27,75);
var c=document.getElementById("canv5");
var ctx=c.getContext("2d");
ctx.font="70px Arial";
ctx.fillText("<%=session['shield']%>",27,75);
strategy = 7;
}else if(strategy == 1){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 17;
}else if(strategy == 12){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 127;
}else if(strategy == 13){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 138){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 16){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 167;
}else if(strategy == 19){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 2){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 27;
}else if(strategy == 23){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 239){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 24){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 249){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 26){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 267;
}else if(strategy == 28){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 29){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 297;
}else if(strategy == 3){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 37;
}else if(strategy == 34){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 349){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 36){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 361){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 38){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 381){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 39){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 394){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 4){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 47;
}else if(strategy == 46){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 468){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 48){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 5){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 57;
}else if(strategy == 52){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 527;
}else if(strategy == 524){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 526){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 529){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 54){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 547;
}else if(strategy == 542){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 548){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 549){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 56){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 567;
}else if(strategy == 58){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 59){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 592){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 6){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 67;
}else if(strategy == 68){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 681){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 69){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 697;
};
}

function canvasClicked8(){
var c=document.getElementById("canv8");
var ctx=c.getContext("2d");
if(strategy == 0){
ctx.font="70px Arial";
ctx.fillText("<%=session['weapon']%>",27,75);
var c=document.getElementById("canv5");
var ctx=c.getContext("2d");
ctx.font="70px Arial";
ctx.fillText("<%=session['shield']%>",27,75);
strategy = 8;
}else if(strategy == 1){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 18;
}else if(strategy == 12){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 127){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 13){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 138;
}else if(strategy == 14){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 143){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 16){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 167){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 17){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 176){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 19){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 194){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 2){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 28;
}else if(strategy == 23){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 239){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 24){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 249){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 26){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 267){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 27){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 29){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 3){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 38;
}else if(strategy == 34){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 349){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 36){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 361){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 37){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 374){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 39){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 4){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 48;
}else if(strategy == 46){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 468;
}else if(strategy == 47){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 49){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 493){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 5){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 58;
}else if(strategy == 53){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 534){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 54){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 548;
}else if(strategy == 543){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 547){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 549){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 56){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 567){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 57){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 59){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 6){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 68;
}else if(strategy == 67){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv1");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 671){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 69){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 7){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 78;
};
}

function canvasClicked9(){
var c=document.getElementById("canv9");
var ctx=c.getContext("2d");
if(strategy == 0){
ctx.font="70px Arial";
ctx.fillText("<%=session['weapon']%>",27,75);
var c=document.getElementById("canv5");
var ctx=c.getContext("2d");
ctx.font="70px Arial";
ctx.fillText("<%=session['shield']%>",27,75);
strategy = 9;
}else if(strategy == 1){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 19;
}else if(strategy == 12){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 127){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 13){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 138){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 14){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 143){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 16){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 167){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 17){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 176){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 18){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 183){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 2){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 29;
}else if(strategy == 23){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 239;
}else if(strategy == 24){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 249;
}else if(strategy == 26){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 267){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 27){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 279;
}else if(strategy == 28){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 289;
}else if(strategy == 3){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 39;
}else if(strategy == 34){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 349;
}else if(strategy == 37){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 374){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 4){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 49;
}else if(strategy == 46){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 468){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 47){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 479;
}else if(strategy == 5){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 59;
}else if(strategy == 52){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 529;
}else if(strategy == 523){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 524){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 526){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 527){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 53){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 534){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 54){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 549;
}else if(strategy == 542){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 543){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 547){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 548){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 56){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 567){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 57){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv2");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 572){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv6");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "draw";
}else if(strategy == 58){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv3");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 583){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv4");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = "game over";
}else if(strategy == 6){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv9");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 69;
}else if(strategy == 7){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv8");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 79;
}else if(strategy == 8){
  ctx.font="70px Arial";
  ctx.fillText("<%=session['weapon']%>",27,75);
  var c=document.getElementById("canv7");
  var ctx=c.getContext("2d");
  ctx.font="70px Arial";
  ctx.fillText("<%=session['shield']%>",27,75);
  strategy = 89;
};
}
</script>
</html>
